type project
owners
    LuninaPolina
authors 
    LuninaPolina
projectUrl
    http://github.com/LuninaPolina/LuninaPolinaHW
iconUrl
    https://raw.githubusercontent.com/LuninaPolina/LuninaPolinaHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/LuninaPolina/LuninaPolinaHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


