type project
owners
    Author not set
authors 
    Author not set
projectUrl
    http://github.com/[github-user]/SusaninaJuliaHW
iconUrl
    https://raw.githubusercontent.com/[github-user]/SusaninaJuliaHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/[github-user]/SusaninaJuliaHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


