type project
owners
    KochetovKirill
authors 
    KochetovKirill
projectUrl
    http://github.com/KochetovKirill/KochetovKirillHW
iconUrl
    https://raw.githubusercontent.com/KochetovKirill/KochetovKirillHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/KochetovKirill/KochetovKirillHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


