type project
owners
    MazyakAnna
authors 
    MazyakAnna
projectUrl
    http://github.com/MazyakAnna/MazyakAnnaHW
iconUrl
    https://raw.githubusercontent.com/MazyakAnna/MazyakAnnaHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/MazyakAnna/MazyakAnnaHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home Work
description
    Description not set


