type project
owners
    VerbitskaiaEkaterina
authors 
    VerbitskaiaEkaterina
projectUrl
    http://github.com/VerbitskaiaEkaterina/VerbitskaiaEkaterinaHW
iconUrl
    https://raw.githubusercontent.com/VerbitskaiaEkaterina/VerbitskaiaEkaterinaHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/VerbitskaiaEkaterina/VerbitskaiaEkaterinaHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work.
description
    hw


