type project
owners
    Author not set
authors 
    Author not set
projectUrl
    http://github.com/Gasta Andrey/GastaAdnreyHW
iconUrl
    https://raw.githubusercontent.com/Gasta Andrey/GastaAdnreyHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Gasta Andrey/GastaAdnreyHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


