type project
owners
    IvanovAndrew
authors 
    IvanovAndrew
projectUrl
    http://github.com/IvanovAndrew/IvanovAndrewHW
iconUrl
    https://raw.githubusercontent.com/IvanovAndrew/IvanovAndrewHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/IvanovAndrew/IvanovAndrewHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


