type project
owners
    MallabaevAzamat
authors 
    MallabaevAzamat
projectUrl
    http://github.com/MallabaevAzamat/MallabaevAzamatHW
iconUrl
    https://raw.githubusercontent.com/MallabaevAzamat/MallabaevAzamatHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/MallabaevAzamat/MallabaevAzamatHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


