type project
owners
    MalyshevAnton
authors 
    MalyshevAnton
projectUrl
    http://github.com/MalyshevAnton/MalyshevAntonHW
iconUrl
    https://raw.githubusercontent.com/MalyshevAnton/MalyshevAntonHW/master/docs/files/img/logo.png
licenseUrl
    http://github.com/MalyshevAnton/MalyshevAntonHW/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    hw
summary
    Home work
description
    Home work


